<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <title>BEJEGYZÉSEK-LAP</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
    </head>
    
    <body>
        <h1>Bejegyzések, blogok</h1>
        <div class="container my-2" align="left">
            <table border="1">
                <tr>
                    <th>Azonosito</th>
                    <th>BlogCim</th>
                    <th>Tartalom</th>
                </tr>
                <tr th:each="post : ${posztok}">
                    <td th:text="${post.id}">ID-Azonosito</td>
                    <td th:text="${post.title}">Title-BlogCim</td>
                    <td th:text="${post.content}">Content-Tartalom</td>
                </tr>
            </table>
        </div>    
    </body>
</html>